body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .search-container {
                    color: #808080
                    flex: 100 1000 100%;
                    margin-right: 30px;
                }
        .card {
            margin-top: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .card-header {
            background-color: #007bff;
            color: #fff;
            border-radius: 10px 10px 0 0;
            text-align: center;
            padding: 15px;
        }
        .card-body {
            padding: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .btn-register {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
        .btn-register:hover {
            background-color: #0056b3;
        }