<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/registration/choose-cons}" th:object="${userDto}" method="get">
    <div>
        Choose Pros:
        <div th:each="skill : ${allSkills}">
                <input type="checkbox" th:field="*{skillsPros}" th:value="${skill.id}" th:text="${skill.skill}"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Continue</button>
</form>

</body>
</html>